@charset "UTF8";

@font-face {
    font-family:'abril';
    src: url(Fontes/Signika-Bold.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body{
    background-image:linear-gradient(#00000001,#00000063),url(bolo_back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    min-height: 100vh;
}

:root{
    --fonte_titulo:'abril';
}

header{
    padding-top: 15px;
    padding-bottom: 20px;
}

h1{
    font-family:var(--fonte_titulo);
    font-size: 50px;
    text-align: center;
    color:rgb(165, 26, 26) ;
}

.Entrar{
    font-size: 30px;
    background-color:rgb(165, 26, 26);
    height: 60px;
    width: 170px;
    margin: auto;
    color: white;
    border-radius: 15px;
}

.Entrar>p{
    padding-top:10px ;
}

.instagram{
    font-size: 30px;
    background-image:linear-gradient(#C302F0,#F21F68, #FF8F00);
    height: 60px;
    width: 170px;
    margin: auto;
    color: white;
    border-radius: 15px;
}

.instagram>p{
    text-decoration: none;
    padding-top:10px ;
}

.wattsapp{
    font-size: 30px;
    background-color:#00ff4c;
    height: 60px;
    width: 170px;
    margin: auto;
    color: white;
    border-radius: 15px;
}

.wattsapp>p{
    text-decoration: none;
    padding-top:10px ;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}