@charset "UTF8";

@font-face {
    font-family:'fanlste';
    src: url(Fontes/fanlste.otf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
body{
    background-image:url(imagens/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    min-height: 100vh;
}

:root{
    --fonte_titulo:'fanlste',Arial bold,Verdana;
}

header{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 20px;
}

h1{
    font-family:var(--fonte_titulo);
    font-size: 50px;
    color:rgb(165, 26, 26);
}

.Entrar{
    font-size: 30px;
    background-color:rgb(165, 26, 26);
    height: 60px;
    width: 170px;
    margin: auto;
    color: white;
    border-radius: 15px;
}

.Entrar>p{
    padding-top:10px ;
}

.instagram{
    font-size: 30px;
    background-image:linear-gradient(#C302F0,#F21F68, #FF8F00);
    height: 60px;
    width: 170px;
    margin: auto;
    color: white;
    border-radius: 15px;
}

.instagram>p{
    text-decoration: none;
    padding-top:10px ;
}

.wattsapp{
    font-size: 30px;
    background-color:#00ff4c;
    height: 60px;
    width: 170px;
    margin: auto;
    color: white;
    border-radius: 15px;
}

.wattsapp>p{
    text-decoration: none;
    padding-top:10px ;
}

a{
    text-decoration: none;
}

.quadrado{
    width:250px;
    height:100px;
    border: 5px solid black;
    border-radius: 20px 0px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tamanhos{
    background-image: url(imagens/bolo_2.jpg);
}

#coberturas{
    background-image: url(imagens/cobertura.jpg);
}

#massas{
    background-image: url(imagens/massa.jpg);
}

#recheios{
    background-image: url(imagens/recheio.jpg);
}

.tabelas{
    width:250px;
    height:140px;
    border: 5px solid black;
    margin-left: 20px;
    margin-bottom: 10px;
}

.tabelas>p{
    margin-left: 15px;
    color: white;
    font-size: 20px;
}

.tabelas>h2{
    margin-left: 6px;
    color: white;
}

#mini{
    background-image: linear-gradient(to right, black, lime);
}

#pp{
    background-image: linear-gradient(to right, black,purple)
}

#pp2{
    background-image: linear-gradient(to right,black, aqua);
}

#p{
    background-image: linear-gradient(to right,black, grey);
}

#mp{
    background-image: linear-gradient(to right,black,yellow);
}

#m{
    background-image: linear-gradient(to right,black,red);
}

#mg{
    background-image: linear-gradient(to right,black,pink);
}

#g{
    background-image: linear-gradient(to right,black,darkblue);
}
#xg{
    background-image: linear-gradient(to right,black,#F21380);
}
#gg{
    background-image: linear-gradient(to right,black,white);
}