@charset "UTF8";

@font-face {
    font-family:'fanlste';
    src: url(Fontes/fanlste.otf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root{
    --fonte_titulo:'fanlste',Arial bold,Verdana;
}

header{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 20px;
}

h1{
    font-family:var(--fonte_titulo);
    font-size: 60px;
    color:white;
}

.Entrar{
    font-size: 30px;
    background-color:rgb(165, 26, 26);
    height: 60px;
    width: 170px;
    margin: auto;
    color: white;
    border-radius: 15px;
}

.Entrar>p{
    padding-top:10px ;
}

.instagram{
    font-size: 30px;
    background-image:linear-gradient(#C302F0,#F21F68, #FF8F00);
    height: 60px;
    width: 170px;
    margin: auto;
    color: white;
    border-radius: 15px;
}

.instagram>p{
    text-decoration: none;
    padding-top:10px ;
}

.wattsapp{
    font-size: 30px;
    background-color:#00ff4c;
    height: 60px;
    width: 170px;
    margin: auto;
    color: white;
    border-radius: 15px;
}

.wattsapp>p{
    text-decoration: none;
    padding-top:10px ;
}

a{
    text-decoration: none;
}